apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-zpyiumav
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-zpyiumav:e82fca0de7c332dd7dd78ed43a4f100f820740ea@sha256:5f78a983b0830758718bc96d99a3b4bea68ed6637c3fd575bbf621778f87c95e
          name: container-image
